# ===========================
# Secrets
# ===========================
docker/.env
.env

# ===========================
# Models
# ===========================
models/

# ===========================
# Open WebUI Runtime Data
# ===========================
open-webui/

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Backups
*.bak
# ===========================
backups/

# ===========================
# Python
# ===========================
__pycache__/
*.pyc

# ===========================
# VSCode
# ===========================
.vscode/

# ===========================
# Temporary files
# ===========================
*.tmp
*.swp
.DS_Store

# ===========================
# Docker old backups
# ===========================
docker/bak-files/

# Database
*.db
*.db-shm
*.db-wal

# Cache
cache/
vector_db/
uploads/

# Hugging Face cache
.huggingface/
